aniso8601==8.0.0
asn1crypto==0.24.0
attrs==19.3.0
click==7.1.2
cryptography==2.1.4
Flask==1.1.2
Flask-RESTful==0.3.8
gunicorn==20.0.4
idna==2.6
importlib-metadata==1.7.0
iniconfig==1.0.1
itsdangerous==1.1.0
Jinja2==2.11.2
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.1
more-itertools==8.4.0
packaging==20.4
pdf2image==1.13.1
Pillow==7.2.0
pluggy==0.13.1
py==1.9.0
pycrypto==2.6.1
pygobject==3.26.1
pyparsing==2.4.7
PyQRCode==1.2.1
pytest==6.0.1
pytest-flask==1.0.0
pytz==2020.1
pyxdg==0.25
pyzbar==0.1.9
SecretStorage==2.3.1
six==1.11.0
toml==0.10.1
Werkzeug==1.0.1
zipp==3.1.0